{% extends "base.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}

{% block main %}
{% include "exfund/components/text-explainer.html" %}

<div class="card" style="width: 600px;">
    <form action="." method="POST" role="form">
        <h1>Faucet service</h1>
        <h2>Get some funds from your default wallet</h2>
        <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>
        <br>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" placeholder="Destination address">
        <br><br>
        <label for="amount">Amount ({{ available }} BTC available)</label>
        <div class="row" style="gap: 10px;">
            <input type="number" value="0.1" step="any" min="0" name="amount" id="amount">
            <button type="submit" class="btn" name="action" value="fund" style="max-width: 200px; min-width: 200px;">Fund</button>
        </div>
        <br><br><br>
        <h2>Send back to</h2>
        <span>{{addr}}</span>
        <br><br><br>
        <h2>Or generate blocks</h2><br>
        <label for="numblocks">Number of blocks:</label>
        <div class="row" style="gap: 10px;">
            <input type="number" value="1" step="1" min="1" name="numblocks" id="numblocks">
            <button type="submit" class="btn" name="action" value="generate" style="max-width: 200px; min-width: 200px;">Generate blocks</button>
        </div>
        <br><br><br>
        <text-explainer>
            <span slot="title">
                <h2 class="center">Settings</h2>
            </span>
            <div slot="content">
                <div class="row center" style="margin: 10px 0;">
                    <label><input type="checkbox" class="inline" name="show_menu" id="show_menu" {{'checked' if show_menu else ''}}> Show menu on sidebar</label>
                </div>
                <div class="row center">
                    <button type="submit" class="btn" style="max-width: 300px;" name="action" value="settings">Save settings</button>
                </div>
            </div>
        </text-explainer>
    </form>
</div>

{% endblock %}
